* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #EFE1D1B2;
    list-style: none;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #252525;
}

.wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding-top: 6px; 
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
#D9D9D91A
.logo {
    font-family: Caramel;
    font-size: 60px;
}

.lang button {
    background-color: #1E1E1E;
}

.content {
    display: flex;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu li {
    padding: 10px;
}

.menu {
    padding-bottom: 40px;
}

.members {
    width: 240px;
    height: 200px;
    background-color: #4B444F33;
    border-radius: 16px;
}

.member__title {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.member__line {
    width: 80%;
    margin: 0 auto 0 auto;
    border: none;
    background-color: #000000;
    height: 1px;
}

.member__users {
    padding: 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.member__user-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 4px;
}

.boards {
    padding-left: 40px;
}

.board {
    width: 240px;
}

.board__list-title {
    text-align: center;
    background-color: #000000;
    opacity: 0.5;
    padding: 5px 0;
    border-radius: 25px;
}

.board__list {
    margin-top: 10px;
    padding-top: 10px;
    width: 240px;
    height: 545px;
    background-color: #4B444F33;
    border-radius: 25px;
}

.board__list li {
    border-radius: 25px;
    text-align: center;
    background-color: #0000001A;
    margin: 0 10px 10px 10px;
    padding: 5px 0;

}

.board__sets {
    display: flex;
    justify-content: center;
    /* align-items: end; */

}

.item-delete {
    text-decoration: line-through;
}


